<!DOCTYPE html>
<html>
	<%# Generate title. %>
	<% provide(:title, 'New Thread') %>

	<body>
		<div class="content-outer">
			<div class="content-inner" border="1px">
				<h2>New Thread</h2>			
				<div class="messagebody">
					<%= form_tag('/thread/submit', method: 'post') do %>
						<div class="description">
							<p class="strong">&nbsp&nbsp*Title:</p>
							<%= text_field_tag(:title, @title, placeholder: "title", class: "text-field", maxlength: 100) %>
							
							<p class="strong">&nbsp&nbspAdditional Tags:</p>
							<%= options_from_collection_for_select(Tag.all, :id, :name) %>
							<%= options_from_collection_for_select(Unitcode.all, :id, :name) %>

							<br>
							<br>
						</div>

						<%= text_area_tag(:body, @body, placeholder: "", class: "text-area", maxlength: 1000) %>
						<br>
						<br>
						<%= submit_tag("Create", class: "button") %>
						<%= submit_tag("Save", class: "button") %>
					<% end %>
				</div>
				<br>
				<p class="error"><% if flash[:notice] %>
				    <div class="notice"><%= flash[:notice] %></div>
				  <% end %>needs to break title into tags (separated by spaces, commas or fullstops), and needs to update tags to db for searching later. </p>
			</div>
		</div>
	</body>
</html>
