<!DOCTYPE html>
<html>
	<%# Generate title. %>
	<% provide(:title, @title) %>

	<body>
		<div class="content-outer">
			<div class="content-inner">

				<div class="thread-header">
					<h2><%= @title %></h2>
					<div class="thread-details">
						<%= link_to @by, profile_path(:id => @thread[0].user_id) %>
						&nbsp&nbsp
						<div class="italic"><%= @time %></div>
					</div>
				</div>

				<div class="thread-content">
					<p class="strong"><%= @body %></p>
					<hr class="thick">
					
					<div class="thread-comments">
						<% if !@comments.nil? %>
							<table class="table-inner">
								<% @comments.find_in_batches(batch_size: 3) do |group| %>
									<% group.each do |c| %>
										<tr>
											<td><%= c.body %></td>
										</tr>
										<tr>
											<td>
												<div class="thread-comments-footer">
													<a href="google.com">like</a>
													<div class="gap"></div>
													<%= link_to author(c.user_id), profile_path(:id => c.user_id) %>
													&nbsp&nbsp
													<%= c.date%> 
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<hr>
											</td>
										</tr>
									<% end %>			
								<% end %>
							</table>
						<% end %> 
					</div>
					
					<% if is_logged_in? %>
						<br>
						<br>
						<%= form_tag('/thread/submitc', method: 'post') do %>
							<%= hidden_field_tag "at_id", params[:id] %>
							<%= text_area_tag(:body, "", placeholder: "", class: "text-area-small", maxlength: 500) %>
							<br>
							<br>
							<%= submit_tag("Add Comment", class: "button") %>
						<% end %>
						<% if not_following?(@u_id, params[:id]) %>
							<%= button_to('Follow Thread', thread_follow_path(:id => params[:id]), :method => :post, class: "button") %>
						<% else %>
							<%= button_to('Unfollow Thread', thread_unfollow_path(:id => params[:id]), :method => :post, class: "button") %>
						<% end %>
					<% end %>
				</div>

				<p class="error">
					Need to fix time format and change timezone<br>
					like and unlike comments?
					currently, clicking like takes you to google XD
				</p>
			</div>
		</div>
	</body>
</html>
