<!DOCTYPE html>
<html>
	<%# Generate title. %>
	<% provide(:title, @title) %>

	<body>
		<div class="content-outer">
			<div class="content-inner">

				<div class="thread-header">
					<% if is_logged_in? %>
						<h2 class="in"><%= @title %></h2>
					<% else %>
						<h2 class="out"><%= @title %></h2>
					<% end %>

					<div class="thread-details">
						<%= link_to @by, profile_path(:id => @thread[0].user_id) %>
						&nbsp&nbsp
						<div class="italic"><%= @time %></div>
						<div class="italic">Views:<%= @views %></div>
						<div class="italic"><%= @likes %> Likes</div>
					</div>
					
					<% if is_logged_in? %>
						<% if not_following?(@u_id, params[:id]) %>
							<div class="gap2"></div>
							<div class="follow">
								<%= button_to('Follow Thread', thread_follow_path(:id => params[:id]), :method => :post, class: "button") %>
							</div>
						<% else %>
							<div class="gap1"></div>
							<div class="follow">
								<%= button_to('Unfollow Thread', thread_unfollow_path(:id => params[:id]), :method => :post, class: "button") %>
							</div>
						<% end %>
						<% if not_liked?(@u_id, params[:id], 'thread') %>
							<div class="gap2"></div>
							<div class="follow">
								<%= button_to('like', thread_like_path(:id => params[:id], :post_id => params[:id], :type => 'thread'), :method => :post, class: "button") %>
							</div>
						<% else %>
							<div class="gap1"></div>
							<div class="follow">
								<%= button_to('unlike', thread_unlike_path(:id => params[:id], :post_id => params[:id], :type => 'thread'), :method => :post, class: "button") %>
							</div>
						<% end %>
						
						<% if not_flagged?(@u_id, params[:id], 'thread') %>
							<div class="gap2"></div>
							<div class="follow">
								<%= button_to('flag', thread_flag_path(:id => params[:id], :post_id => params[:id], :type => 'thread'), :method => :post, class: "button") %>
							</div>
						<% else %>
							<div class="gap1"></div>
							<div class="follow">
								<%= button_to('unflag', thread_flag_path(:id => params[:id], :post_id => params[:id], :type => 'thread'), :method => :post, class: "button") %>
							</div>
						<% end %>
					<% end %>
				</div>

				<div class="thread-content">
					<p class="strong"><%= @body %></p>
					<hr class="thick">
					
					<div class="thread-comments">
						<% if !@comments.nil? %>
							<table class="table-inner">
								<% @comments.find_in_batches(batch_size: 3) do |group| %>
									<% group.each do |c| %>
										<tr>
											<td><%= c.body %></td>
										</tr>
										<tr>
											<td>
												<div class="thread-comments-footer">
													<% if is_logged_in? %>
														<% if not_liked?(@u_id, c.id, 'comment') %>
															<div class="gap2"></div>
															<div class="follow">
																<%= button_to('like', thread_like_path(:id => params[:id], :post_id => c.id, :type => 'comment'), :method => :post, class: "button") %>
															</div>
														<% else %>
															<div class="gap1"></div>
															<div class="follow">
																<%= button_to('unlike', thread_unlike_path(:id => params[:id], :post_id => c.id, :type => 'comment'), :method => :post, class: "button") %>
															</div>
														<% end %>
														
														<% if not_flagged?(@u_id, c.id, 'comment') %>
															<div class="gap2"></div>
															<div class="follow">
																<%= button_to('flag', thread_flag_path(:id => params[:id], :post_id => c.id, :type => 'comment'), :method => :post, class: "button") %>
															</div>
														<% else %>
															<div class="gap1"></div>
															<div class="follow">
																<%= button_to('unflag', thread_flag_path(:id => params[:id], :post_id => c.id, :type => 'comment'), :method => :post, class: "button") %>
															</div>
														<% end %>
													<% end %>
													<div class="gap"></div>
													<%= link_to author(c.user_id), profile_path(:id => c.user_id) %>
													&nbsp&nbsp
													<%= c.date %><br>
													<%= comment_no_likes(c.id) %> Likes
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<hr>
											</td>
										</tr>
									<% end %>			
								<% end %>
							</table>
						<% end %> 
					</div>
					
					<% if is_logged_in? %>
						<br>
						<br>
						<%= form_tag('/thread/submitc', method: 'post') do %>
							<%= hidden_field_tag "at_id", params[:id] %>
							<%= text_area_tag(:body, "", placeholder: "", class: "text-area-small", maxlength: 500) %>
							<br>
							<br>
							<%= submit_tag("Add Comment", class: "button") %>
						<% end %>
					<% end %>
				</div>

				<p class="error">
					Need to fix time format and change timezone<br>
					like and unlike comments?
					currently, clicking like takes you to google XD
				</p>
			</div>
		</div>
	</body>
</html>
