<!DOCTYPE html>
<html>
	<%# Generate title. %>
	<% provide(:title, @title) %>

	<body>
		<div class="content-outer">
			<div class="content-inner">
				<div class="thread-gap1"></div>
				<h2 class="inline"><%= @title %></h2>

				<table class="thread-header">
					<tr>
						<td>
							<div class="thread-details">
								<%= link_to @by, profile_path(:id => @thread[0].user_id) %>
							</div>
						</td>
						<td>
							<div class="thread-details">
								<div class="italic"><%= @time %></div>
							</div>
						</td>
						<td>
							<div class="thread-details">
								<div class="italic"><%= @likes %> Likes</div>
							</div>
						</td>
						<td>
							<div class="thread-details">
								<div class="italic"><%= @views %> Views</div>
							</div>
						</td>
						<td>
							<% if is_logged_in? %>
								<% if !is_threadowner?(params[:id]) %>
									<% if not_following?(@u_id, params[:id]) %>
										<div class="gap2"></div>
										<div class="follow">
											<%= button_to('Follow Thread', thread_follow_path(:id => params[:id]), :method => :post, class: "button") %>
										</div>
									<% else %>
										<div class="gap1"></div>
										<div class="follow">
											<%= button_to('Unfollow Thread', thread_unfollow_path(:id => params[:id]), :method => :post, class: "button") %>
										</div>
									<% end %>
									<% if not_liked?(@u_id, params[:id], 'thread') %>
										<div class="gap2"></div>
										<div class="follow">
											<%= button_to('like', thread_like_path(:id => params[:id], :post_id => params[:id], :type => 'thread'), :method => :post, class: "button") %>
										</div>
									<% else %>
										<div class="gap1"></div>
										<div class="follow">
											<%= button_to('unlike', thread_unlike_path(:id => params[:id], :post_id => params[:id], :type => 'thread'), :method => :post, class: "button") %>
										</div>
									<% end %>
									
									<% if not_flagged?(@u_id, params[:id], 'thread') %>
										<div class="gap2"></div>
										<div class="follow">
											<%= button_to('flag', thread_flag_path(:id => params[:id], :post_id => params[:id], :type => 'thread'), :method => :post, class: "button") %>
										</div>
									<% else %>
										<div class="gap1"></div>
										<div class="follow">
											<%= button_to('unflag', thread_flag_path(:id => params[:id], :post_id => params[:id], :type => 'thread'), :method => :post, class: "button") %>
										</div>
									<% end %>
								<% else %>
									<div class="gap3"></div>
									<div class="close">
										<%= button_to('Close Thread', thread_close_path(:id => params[:id]),  :confirm => 'Are you sure you want to close this thread?', :method => :post, class: "button") %>
									</div>
								<% end %>
							<% end %>
						</td>
					</tr>
				</table>
				<div class="thread-gap2"></div>

				<div class="thread-content">
					<p class="strong"><%= @body %></p>
					<hr class="thick">
					
					<div class="thread-comments">
						<% if !@comments.nil? %>
							<table class="table-inner">
								<% @comments.find_in_batches(batch_size: 3) do |group| %>
									<% group.each do |c| %>
										<tr>
											<td>
												<%= c.body %>
												<br><br>
											</td>
										</tr>
										<tr>
											<td class="thread-comments-footer1">
												<% if is_logged_in? %>
													<% if not_liked?(@u_id, c.id, 'comment') %>
															<%= button_to('like', thread_like_path(:id => params[:id], :post_id => c.id, :type => 'comment'), :method => :post, class: "button") %>
													<% else %>
															<%= button_to('unlike', thread_unlike_path(:id => params[:id], :post_id => c.id, :type => 'comment'), :method => :post, class: "button") %>
													<% end %>
													
													<% if not_flagged?(@u_id, c.id, 'comment') %>
															<%= button_to('flag', thread_flag_path(:id => params[:id], :post_id => c.id, :type => 'comment'), :method => :post, class: "button") %>
													<% else %>
															<%= button_to('unflag', thread_unflag_path(:id => params[:id], :post_id => c.id, :type => 'comment'), :method => :post, class: "button") %>
													<% end %>
												<% end %>
												<table class="thread-comments-footer2">
													<tr>
														<td>
															<%= link_to author(c.user_id), profile_path(:id => c.user_id) %>
														</td>
														<td>
															<%= c.date %><br>
														</td>
														<td>
															<%= comment_no_likes(c.id) %> Likes
														</td>
													</tr>
												</table>
											</td>
										</tr>
										<tr>
											<td>
												<hr>
											</td>
										</tr>
									<% end %>			
								<% end %>
							</table>
						<% end %> 
					</div>
					
					<% if is_logged_in? %>
						<br>
						<br>
						<% if !@closed %>
						<%= form_tag('/thread/submitc', method: 'post') do %>
							<%= hidden_field_tag "at_id", params[:id] %>
							<%= text_area_tag(:body, "", placeholder: "", class: "text-area-small", maxlength: 500) %>
							<br>
							<br>
							<%= submit_tag("Add Comment", class: "button") %>
						<% end %>
						<% end %>
					<% end %>
				</div>

				<p class="error">
					Need to fix time format and change timezone<br>
					like and unlike comments?
					currently, clicking like takes you to google XD
				</p>
			</div>
		</div>
	</body>
</html>
