<!DOCTYPE html>
<html>
	<%# Generate title. %>
	<% provide(:title, 'Home') %>

	<body>
		<div class="content-outer">
			<div class="content-inner">
				<table class="center">
					<%= form_tag('/results', method: 'get') do %>
						<td><%= text_field_tag(:search, "", placeholder: "search", class: "search-field") %></td>
						<td><%= link_to(image_tag("dropdownarrow.png", class: "dropdown"), '') %></td>
						<td><%= submit_tag("Search", class: "button") %></td>
					<% end %>
				</table>

				
				<div class="margin">
					<div class="center">
						<div class="section-inner">
							<div class="section-title">Threads Following</div>
								<table class="table-inner">
									<tr>
										<td class="table-name">Thread Title</td>
										<td class="table-auth">Posted By</td>
										<td class="table-date">Posted Date</td>
										<td class="table-view">Views</td>
										<td class="table-rept">Reputation</td>
									</tr>
									<% if !@followt.nil? %>
										<% @followt.each do |t| %>
											<tr>
												<td><%= link_to title(t.athread_id)  ,thread_path(:id => t.athread_id) %></td>
												
												<td><%= link_to postby(t.athread_id), profile_path(:id=> threadowner(t.athread_id)) %></td>
												<td><%= threadpost(t.athread_id) %></td>
												<td><%= threadview(t.athread_id) %></td>
										
												
												<td># rept</td>
											</tr>
									
										<% end %>
									<% else %>
										<tr><td>No threads following</td>
										 </tr>
									<% end %>

								</table>
							</div>
						</div>
						<br>
						<div class="section-inner">
							<div class="section-title">Users Following</div>
								<table class="table-inner">
									<tr>
										<td class="table-name">Users</td>
										<td class="table-auth">Member since</td>
										<td class="table-rept">Reputation</td>
									</tr>
									<% if !@followu.nil? %>
										<% @followu.each do |r| %>
											<tr>
												<td><%= link_to author(r.second_user_id)  ,profile_path(:id => r.second_user_id) %></td>
												<td><%=membersince(r.second_user_id) %></td>
												<td><%= xp(r.second_user_id) %></td>
											</tr>
										<% end %>
									<% else %>
										<tr><td>No threads following</td> </tr>
									<% end %>
								</table>
							</div>
						</div>
						<br>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
