<!DOCTYPE html>
<html>
	<%# Generate title. %>
	<% provide(:title, 'Home') %>

	<body>
		<div class="content-outer">
			<div class="content-inner">
				<table class="center">
					<%= form_tag('/results', method: 'get') do %>
						<td><%= text_field_tag(:search, "", placeholder: "search", class: "search-field") %></td>
						<td><%= link_to(image_tag("dropdownarrow.png", class: "dropdown"), '') %></td>
						<td><%= submit_tag("Search", class: "button") %></td>
					<% end %>
				</table>

				<h2 class="error">Tasks to do:</h2>
				<p class="error">
					Make the tabs change color so that the current tab is highlighted.
				</p>
				<p class="error">
					To do by Monday 14/10:<br>
					Brian - <%= link_to("Thread", '') %><br>
					Mark - <%= link_to("New Thread", '') %><br>
					Rick - <%= link_to("Search Results", '') %><br>
				</p>
				<p>
					This is the link to tutorials: 
					<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
				</p>
				<div class="margin">
					<div class="center">
						<div class="section-inner">
							<div class="section-title">Pinned</div>
								<table class="table-inner">
									<tr>
										<td class="table-name">Thread Title</td>
										<td class="table-auth">Posted By</td>
										<td class="table-date">Posted Date</td>
										<td class="table-view">Views</td>
										<td class="table-rept">Reputation</td>
									</tr>
									<tr>
										<td>thread name</td>
										<td>author</td>
										<td>13:20 11/4/13</td>
										<td># views</td>
										<td># rept</td>
									</tr>
									<tr>
										<td>thread name</td>
										<td>author</td>
										<td>9:34 21/11/13</td>
										<td># views</td>
										<td># rept</td>
									</tr>
								</table>
							</div>
						</div>
						<br>
						<div class="section-inner">
							<div class="section-title">Recent</div>
								<table class="table-inner">
									<tr>
										<td class="table-name">Thread Title</td>
										<td class="table-auth">Posted By</td>
										<td class="table-date">Posted Date</td>
										<td class="table-view">Views</td>
										<td class="table-rept">Reputation</td>
									</tr>
									<% @recent.reverse_each do |r| %>
									<tr>
										<td><%= link_to r.title  ,thread_path(:id => r.id) %></td>
										<td><%= author(r.user_id) %></td>
										<td><%= r.Date.strftime("%R %d/%m/%y") %></td>
										<td><%= r.views %></td>
										<td># rept</td>
									</tr>
									
									<% end %>
								</table>
							</div>
						</div>
						<br>
						<div class="section-inner-alt">
							<div class="section-title">Categories</div>
								<ul class="category">
									<li>Category 1</li>
									<li>Category 2</li>
									<li>Category 3</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
