<!DOCTYPE html>
<html>
	<%# Generate title. %>
	<% provide(:title, 'Search') %>

	<body>
		<div class="content-outer">
			<div class="content-inner">
				<br>
				<%= form_tag('/results', method: 'get') do %>
					<table class="center">
						<td><%= text_field_tag(:search, "", placeholder: "search", class: "search-field") %></td>
						<td><%= collection_select(:tag, :id, Tag.all, :id, :name, {include_blank: true}) %></td>
						<td><%= collection_select(:unitcode, :id, Unitcode.all, :id, :name, {include_blank: true})%></td>
						<td><%= date_field("thread", "posted_after", class: "input-date")%></td>
						<td></td>
						<%# <td><%= link_to(image_tag("dropdownarrow.png", class: "dropdown"), '') </td> %>
						<td><%= submit_tag("Search", class: "button") %></td>
					</table>
				<% end %>

				<% if flash[:notice] %>
					<div class="notice"><%= flash[:notice] %></div>
				<% end %>
				<br>
				
				<div class="margin">
					<div class="center">
						<div class="section-inner">
							<div class="section-title">Results</div>
								<table class="table-inner">
									<tr>
										<td class="table-name">Thread Title</td>
										<td class="table-auth">Posted By</td>
										<td class="table-date">Posted Date</td>
										<td class="table-view">Views</td>
										<td class="table-rept">Reputation</td>
									</tr>
									<% @threads.each do |t| %>
										<tr>
											<td><%= link_to title(t.id)  ,thread_path(:id => t.id) %></td>
											
											<td><%= link_to postby(t.id), profile_path(:id=> threadowner(t.id)) %></td>
											<td><%= t.Date %></td>
											<td><%= t.views %></td>
											<td><%= threadrep(t.id)%></td>
										</tr>
									<% end %>
								</table>
							</div>
							<% if @threads.empty? %>
								0 search results
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
