<!DOCTYPE html>
<html>
	<%# Generate title. %>
	<% provide(:title, 'Search') %>

	<body>
		<div class="content-outer">
			<div class="content-inner">
				<table class="center">
					<%= form_tag('/results', method: 'get') do %>
						<td><%= text_field_tag(:search, "", placeholder: "search", class: "search-field") %></td>
						<td><%= link_to(image_tag("dropdownarrow.png", class: "dropdown"), '#') %></td>
						<td><%= submit_tag("Search", class: "button") %></td>
					<% end %>
				</table>
				
				<div class="margin">
					<div class="center">
						<div class="section-inner">
							<div class="section-title">Results</div>
								<table class="table-inner">
									<tr>
										<td class="table-name">Thread Title</td>
										<td class="table-auth">Posted By</td>
										<td class="table-date">Posted Date</td>
										<td class="table-view">Views</td>
										<td class="table-view">Open</td>
									</tr>
									<% @recent.reverse_each do |r| %>
									<tr>
										<td><%= link_to r.title  ,thread_path(:id => r.id) %></td>
										<td><%= link_to author(r.user_id),profile(:id => r.user_id) %></td>
										<td><%= r.Date.strftime("%R %d/%m/%y") %></td>
										<td><%= r.views %></td>
										<td># rept</td>
									</tr>
									
									<% end %>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
