<!DOCTYPE html>
<html>
	<%# Generate title. %>
	<% provide(:title, 'Sign up') %>

	<body>
		<div class="content-outer">
			<div class="content-inner">
				<h2>Sign Up</h2>

				<%= form_tag('/new', method: 'post') do %>
					<table class="sign-up">
						<tr>
							<td><%= label_tag :username %>:</td>
							<td>&nbsp</td>
							<td><%= text_field_tag(:username, "", class: "text-field", placeholder: "username", maxlength: 16) %></td>
						</tr>
						<tr>
							<td><%= label_tag :email %>:</td>
							<td>&nbsp</td>
							<td><%= text_field_tag(:email, "", class: "text-field", placeholder: "abcd1234@uni.sydney.edu.au") %></td>
						</tr>
						<tr>
							<td><%= label_tag :password %>:</td>
							<td>&nbsp</td>
							<td><%= password_field_tag(:password, "", class: "text-field",  maxlength: 16) %></td>
						</tr>
						<tr>
							<td><%= label_tag :"Retype Password" %>:</td>
							<td>&nbsp</td>
							<td><%= password_field_tag(:verifypassword, "", class: "text-field",  maxlength: 16) %></td>
						</tr>
					</table>
					<br>
					<%= submit_tag("Sign Up", class: "button")%>
				<% end %>

				<br>
				<% if flash[:notice] %>
					<div class="notice"><%= flash[:notice] %></div>
				<% end %>
			</div>
		</div>
	</body>
</html>