<!DOCTYPE html>
<html>
	<%# Generate title. %>
	<% provide(:title, @name) %>

	<body>
		<div class="content-outer">
			<div class="content-inner">
				<h2>Profile</h2>
				<div class="profile">
					<div class="nav-left">
						<div class="nav-left-details">
							<h3><%= @name %></h3>
							<br>
							<div class="italic">
								<p>Member Since: <%= @member_since %></p>
								<p><%= @email %></p>
							</div>

							<%#= gotta make action
							link_to "Change email", user_changeemail_path(:email => @user[:email]), {:method => :post, "data-role" => "button", "data-inline" => "true" } %>
									
									<% if is_logged_in? %>

										<% if is_mod? && (@u_id != params[:id].to_i) %>
											<% if !banned?(params[:id].to_i) %>
											<%= button_to('Ban User', user_ban_path(:id => params[:id]), :method => :post, class: "button") %>
											<% else %>
											<%= button_to('Unban User', user_unban_path(:id => params[:id]), :method => :post, class: "button") %>
											<% end %>
										<% end %>

										<% if (@u_id.to_i) == (params[:id].to_i) %>
											<%= button_to('Change password', user_follow_path(:id => params[:id]), :method => :post, class: "button") %>
										<% else %>
											<% if not_already_following?(@u_id, params[:id]) %>
											<%= button_to('Follow User', user_follow_path(:id => params[:id]), :method => :post, class: "button") %>
											<% else %>
											<%= button_to('Unfollow User', user_unfollow_path(:id => params[:id]), :method => :post, class: "button") %>
											<% end %>
										<% end %>
									<% end %>
							


						<br>
							
							<p class="error"> either you can see the follow button, or you can see the change password button.</p>

						</div>
			
						<br>
						<div class="nav-left-stats">
							<table>
								<tr>
									<td class="strong">Questions:</td>
									<td><%= @postcount %></td>
								</tr>
								<tr>
									<td class="strong">Answers:</td>
									<td><%= @answercount %></td>
								</tr>
								<tr>
									<td class="strong">Total XP:</td>
									<td><%= @xp %></td>
								</tr>
							</table>
						</div>
					</div>
					&nbsp&nbsp
					<div class="achievements">
						achievements
						<p class="error"> title needs fixing, is not displaying name correctly </p>
					</div>
					<div class="change_password">
						<%= form_tag('/change_password', method: 'post') do %>
					<table class="indent">
						<%= hidden_field_tag "id", @u_id %>
						<tr>
							<td><%= label_tag :"Old Password" %>:</td>
							<td>&nbsp</td>
							<td><%= password_field_tag :oldpassword %></td>
						</tr>
						<tr>
							<td><%= label_tag :"New Password" %>:</td>
							<td>&nbsp</td>
							<td><%= password_field_tag :newpassword %></td>
						</tr>
						<tr>
							<td><%= label_tag :"Retype Password" %>:</td>
							<td>&nbsp</td>
							<td><%= password_field_tag :verifypassword %></td>
						</tr>
					</table>
					<p class="error">Add "Retype password" and function to check that passwords match.<br>Add checkbox: Agree with Terms and Conditions/ Policies.</p>
					<%= submit_tag("Submit", class: "button")%>
					<% end %>
						<p class="error"><% if flash[:notice] %>
				    <div class="notice"><%= flash[:notice] %></div>
				  <% end %>
				</div>
				<br>
			</div>
		</div>
	</body>
</html>
