<!DOCTYPE html>
<html>
	<%# Generate title. %>
	<% provide(:title, @name) %>

	<body>
		<div class="content-outer">
			<div class="content-inner">
				<h2>Profile</h2>
				<div class="profile">
					<div class="nav-left">
						<div class="nav-left-details">
							<h3><%= @name %></h3>
							<br>
							<div class="italic">
								<p>Member Since: <%= @member_since %></p>
								<p><%= @email %></p>
							</div>

							<% if is_logged_in? %>
								<% if is_mod? && (@u_id != params[:id].to_i) %>
									<br>
									<% if !banned?(params[:id].to_i) %>
									<%= button_to('Ban User', user_ban_path(:id => params[:id]), :method => :post, class: "button") %>
									<% else %>
									<%= button_to('Unban User', user_unban_path(:id => params[:id]), :method => :post, class: "button") %>
									<% end %>
								<% end %>
								<br>
								<% if (@u_id.to_i) == (params[:id].to_i) %>
									<div class="change_password">
										<%= form_tag('/change_password', method: 'post') do %>
											<p> Change Password: </p>
											<table class="indent">
												<%= hidden_field_tag "id", @u_id %>
												<tr>
													<td><%= label_tag :"Old" %>:</td>
													<td><%= password_field_tag(:oldpassword, "", class: "text-field") %></td>
												</tr>
												<tr>
													<td><%= label_tag :"New" %>:</td>
													<td><%= password_field_tag(:newpassword, "", class: "text-field") %></td>
												</tr>
												<tr>
													<td><%= label_tag :"Retype" %>:</td>
													<td><%= password_field_tag(:verifypassword, "", class: "text-field") %></td>
												</tr>
											</table>
											<%= submit_tag("Submit", class: "button")%>
										<% end %>
										<% if flash[:notice] %>
											<div class="notice"><%= flash[:notice] %></div>
										<% end %>
									</div>
								<% else %>
									<% if not_already_following?(@u_id, params[:id]) %>
									<%= button_to('Follow User', user_follow_path(:id => params[:id]), :method => :post, class: "button") %>
									<% else %>
									<%= button_to('Unfollow User', user_unfollow_path(:id => params[:id]), :method => :post, class: "button") %>
									<% end %>
								<% end %>
							<% end %>
						</div>
						
						<br>
						<div class="nav-left-stats">
							<table>
								<tr>
									<td class="strong">Threads:</td>
									<td><%= @postcount %></td>
								</tr>
								<tr>
									<td class="strong">Comments:</td>
									<td><%= @answercount %></td>
								</tr>
								<tr>
									<td class="strong">Total XP:</td>
									<td><%= @xp %></td>
								</tr>
							</table>
						</div>
					</div>
					&nbsp&nbsp
					<div class="achievements">
						<h3>Achievements</h3>
						<% if @postcount > 0 %>
							<img src="http://i239.photobucket.com/albums/ff97/ru46t9/achievements/lvl7a.jpg">
						<% end %>
						
						<% if @answercount > 0 %>
							<img src="http://i239.photobucket.com/albums/ff97/ru46t9/achievements/lvl1a.jpg">
						<% end %>
						
						<% if @xp > 100 %>
							<img src="http://i239.photobucket.com/albums/ff97/ru46t9/achievements/lvl10a.jpg">
						<% end %>
					</div>
				</div>
				<br>
			</div>
		</div>
	</body>
</html>
