<!DOCTYPE html>
<html>
	<%# Generate title. %>
	<% provide(:title, @name) %>

	<body>
		<div class="content-outer">
			<div class="content-inner">
				<h2>Profile</h2>
				<div class="profile">
					<div class="nav-left">
						<div class="nav-left-details">
							<h3><%= @name %></h3>
							<div class="italic">
								<p><%= @member_since %></p>
								<p><%= @email %></p>
							</div>
							<br>
							<%#= gotta make action
							link_to "Change email", user_changeemail_path(:email => @user[:email]), {:method => :post, "data-role" => "button", "data-inline" => "true" } %>
							<% if @u_id == params[:id] %>
								<button class="button"> Change Password </button>
							<% else %>
								<% if is_logged_in? %>
									<% if not_already_following?(@u_id, params[:id]) %>
									<%= button_to('Follow User', user_follow_path(:id => params[:id]), :method => :post, class: "button") %>
									<% else %>
									<%= button_to('Unfollow User', user_unfollow_path(:id => params[:id]), :method => :post, class: "button") %>
									<% end %>
								<% end %>
							<% end %>
						</div>
			
						<br>
						<div class="nav-left-stats">
							<table>
								<tr>
									<td class="strong">Questions:</td>
									<td class="error">0</td>
									<%-# <%= @postcount??? -%>
								</tr>
								<tr>
									<td class="strong">Answers:</td>
									<td class="error">0</td>
									<%-# <%= @answercount??? -%>
								</tr>
								<tr>
									<td class="strong">Total XP:</td>
									<td><%= @xp %></td>
								</tr>
							</table>
						</div>
					</div>
					&nbsp&nbsp&nbsp
					<div class="achievements">
						achievements
					</div>
				</div>
				<br>
			</div>
		</div>
	</body>
</html>
