<header>
	<div class="header">
		<%= link_to(image_tag("logo.png", class: "logo"), root_path) %>
		<%= link_to("USYD Connect", root_path, class: "name") %>
		<div class="sign-outer">
			<% if is_logged_in? %>
			<div class="sign-inner">
				<p class="username">Logged in as: <%= @username %></p>
			</div>
			&nbsp&nbsp
			<div class="sign-inner">
				<%= button_to("Sign Out", signout_path, method: "delete", class: "button" ) %>
			</div>
			<% else %>
				<div class="sign-inner">
					<%= form_tag('/login', method: 'post') do %>
						<%= text_field_tag(:username, "", placeholder: "username", class: "text-field", maxlength: 16) %>
						<%= password_field_tag(:password, "", placeholder: "password", class: "text-field", maxlength: 16) %>
						<%= submit_tag("Login", class: "button") %>
					<% end %>
				</div>
				<div class="sign-inner">
					<%= button_to("Sign Up", signup_path, method: "get", class: "button") %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="navbar">
		<% if is_logged_in? %>
			<ul class="tab">
				<li><%= link_to("Forum", root_path, class: "link") %></li>
				<li>&nbsp</li>
				<li><%= link_to("Following", follow_path, class: "link") %></li>
				<li>&nbsp</li>
				<li><%= link_to("Profile", profile_path(:id => @u_id) , class: "link") %></li>
				<li><p class="gap">&nbsp</p></li>
				<li><%= link_to("New Thread", thread_new_path, class: "link") %></li>
			</ul>
		<% end %>
	</div>
</header>

